/* src/index.css */

/* Fuentes importadas de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

:root {
  --accent-green: #2E8B57;
  --accent-brown: #8B4513;
  --font-header: 'Playfair Display', serif;
  --font-main: 'Montserrat', sans-serif;
}

body {
   font-family: var(--font-main, sans-serif);
   /* AÑADIDO: Se establece el color de fondo y de texto principal */
   background-color: #F7F7F7; /* Blanco Suave */
   color: #333333; /* Gris Oscuro */
}

/* --- ESTILOS DE NAVEGACIÓN --- */
.nav-pills .nav-link { 
  color: #333333; 
  font-weight: 600; 
}
.nav-pills .nav-link.active { 
  background-color: var(--accent-green); 
  color: white !important; 
}

/* --- ESTILOS GLOBALES PARA BOTONES --- */
.btn-primary, .btn-success {
    background-color: var(--accent-green);
    border-color: var(--accent-green);
}

.btn-primary:hover, .btn-success:hover {
    background-color: #256d44;
    border-color: #256d44;
}

.btn-outline-secondary {
    color: var(--accent-green);
    border-color: var(--accent-green);
}

/* Para títulos de productos (tarjetas, modal, carrito) */
.product-title {
  font-family: var(--font-header);
  color: var(--accent-brown);
}

.btn-danger, .btn-outline-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
}

.title-green {
    color: var(--accent-green) !important;
}